@tailwind base;
@tailwind components;
@tailwind utilities;

.container-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
}